h1 {
	font-family: "teimer-web",didone,serif;
	font-weight: 600;
	color: black;
	font-weight: 600;
}
h1, h2 {
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-weight: 900;
}
html {
	background-image: url(images/gold.jpg);
	background-repeat: repeat;
	text-align: center;
}
.container {
	margin-top: 60px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-style: normal;
	font-weight: 400;
}
.box {
	background-color: white;
	padding: 20px;
	border: 5px solid black;
}
.strong {
	font-weight: 700;
}
body {
	font-family: "adobe-caslon-pro","caslon",serif;
	background: none;
	color:black;
	font-weight: 400;
}
h2 {
	font-family: "calluna-sans", sans-serif;
}
.panorama {
	margin-top: 20px;
	margin-bottom: 30px;
}
.panorama h2:before, .panorama h2:after {
	content: "the ";
	vertical-align: middle;
	position: relative;
	font-family: "adobe-caslon-pro","caslon",serif;
	font-weight: 600;
	font-style: italic;
	text-transform: lowercase;
	font-size: .5em;
}
.panorama h2:after {
	color: transparent;
}
.box p {
	margin: 20px 0 20px 0;
}
a {
	font-weight: 700;
	font-style: italic;
}
.poem {
	padding-top: 1em;
	font-style: italic;
	font-weight: 600;
}